<h1>Çerez Politikası</h1>

<p>Bu, Match·E için https://match-e.com adresinden erişilebilen Çerez Politikası'dır.</p>

<p><strong>Çerezler Nedir?</strong></p>

<p>Neredeyse tüm profesyonel web sitelerinde yaygın bir uygulama olduğu gibi, bu site deneyiminizi geliştirmek için bilgisayarınıza indirilen küçük dosyalar olan çerezleri kullanır. Bu sayfa, hangi bilgilerin toplandığını, bunları nasıl kullandığımızı ve bazen bu çerezleri neden saklamamız gerektiğini açıklamaktadır. Bu çerezlerin saklanmasını nasıl önleyebileceğinizi de paylaşacağız, ancak bu, site işlevselliğinin belirli öğelerini düşürebilir veya 'bozabilir'.</p>

<p><strong>Çerezleri Nasıl Kullanıyoruz?</strong></p>

<p>Çerezleri aşağıda ayrıntıları verilen çeşitli nedenlerle kullanıyoruz. Ne yazık ki çoğu durumda, bu sitenin işlevlerini ve özelliklerini tamamen devre dışı bırakmadan çerezleri devre dışı bırakmak için endüstri standardı seçenekler yoktur. Kullandığınız bir hizmeti sağlamak için kullanılmaları durumunda, bunlara ihtiyacınız olup olmadığından emin değilseniz tüm çerezleri etkin bırakmanız önerilir.</p>

<p><strong>Çerezleri Devre Dışı Bırakma</strong></p>

<p>Tarayıcınızdaki ayarları değiştirerek tanımlama bilgilerinin ayarlanmasını önleyebilirsiniz (bunu nasıl yapacağınızı öğrenmek için tarayıcınızın Yardım'ına bakın). Tanımlama bilgilerini devre dışı bırakmanın, bu ve ziyaret ettiğiniz diğer birçok web sitesinin işlevselliğini etkileyeceğini unutmayın. Tanımlama bilgilerinin devre dışı bırakılması genellikle bu sitenin belirli işlevlerinin ve özelliklerinin de devre dışı bırakılmasına neden olur. Bu nedenle çerezleri devre dışı bırakmamanız önerilir.</p>
<p><strong>Kullandığımız Çerezler</strong></p>

<ul>

<li>
    <p>Hesapla ilgili çerezler</p>
    <p>Bir hesap oluşturursanız, kayıt sürecinin yönetimi ve genel yönetim için çerezleri kullanırız. Bu çerezler genellikle siz çıkış yaptığınızda silinir, ancak bazı durumlarda çıkış yaptığınızda site tercihlerinizi hatırlamak için kalabilirler.</p>
</li>

<li>
    <p>Girişle ilgili çerezler</p>
    <p>Sonradan hatırlayabilmemiz için oturum açtığınızda çerezleri kullanıyoruz. Bu, yeni bir sayfayı her ziyaret ettiğinizde giriş yapmanızı engeller. Bu tanımlama bilgileri, yalnızca oturum açtığınızda kısıtlı özelliklere ve alanlara erişebilmenizi sağlamak için oturumu kapattığınızda genellikle kaldırılır veya temizlenir.</p>
</li>

<li>
    <p>E-posta bültenleriyle ilgili çerezler</p>
    <p>Bu site haber bülteni veya e-posta abonelik hizmetleri sunar ve zaten kayıtlı olup olmadığınızı ve yalnızca abone olan/abone olmayan kullanıcılar için geçerli olabilecek belirli bildirimlerin gösterilip gösterilmeyeceğini hatırlamak için çerezler kullanılabilir.</p>
</li>

<li>
    <p>İlgili çerezleri işleyen siparişler</p>
    <p>Bu site e-ticaret veya ödeme olanakları sunar ve bazı çerezler, siparişinizin sayfalar arasında hatırlandığından emin olmak için gereklidir, böylece biz de onu doğru bir şekilde işleyebiliriz.</p>
</li>

<li>
    <p>Anketlerle ilgili çerezler</p>
    <p>Zaman zaman size ilginç bilgiler, yardımcı araçlar sağlamak veya kullanıcı tabanımızı daha doğru anlamak için kullanıcı anketleri ve anketler sunuyoruz. Bu anketler, bir ankete kimlerin katıldığını hatırlamak veya sayfaları değiştirdikten sonra size doğru sonuçlar sağlamak için çerezleri kullanabilir.</p>
</li>

<li>
    <p>Formlarla ilgili çerezler</p>
    <p>İletişim sayfalarında veya yorum formlarında bulunanlar gibi bir form aracılığıyla veri gönderdiğinizde, gelecekteki yazışmalar için kullanıcı ayrıntılarınızı hatırlamak için çerezler ayarlanabilir.</p>
</li>

<li>
    <p>Site tercihleri ​​çerezleri</p>
    <p>Size bu sitede harika bir deneyim sunmak için, bu siteyi kullandığınızda nasıl çalışacağına ilişkin tercihlerinizi belirleme işlevselliği sağlıyoruz. Tercihlerinizi hatırlamak için, bir sayfayla her etkileşimde bulunduğunuzda bu bilgilerin çağrılabilmesi için çerezleri ayarlamamız gerekir, böylece tercihlerinizden etkilenir.</p>
</li>

</ul>

<p><strong>Üçüncü Taraf Çerezleri</strong></p>

<p>Bazı özel durumlarda, güvenilir üçüncü taraflarca sağlanan çerezleri de kullanırız. Aşağıdaki bölüm, bu site aracılığıyla karşılaşabileceğiniz üçüncü taraf çerezlerinin ayrıntılarını vermektedir.</p>

<ul>

<li>
    <p>Bu site, siteyi nasıl kullandığınızı ve deneyiminizi iyileştirmenin yollarını anlamamıza yardımcı olması için web'deki en yaygın ve güvenilir analiz çözümlerinden biri olan Google Analytics'i kullanır. Bu çerezler, ilgi çekici içerik üretmeye devam edebilmemiz için sitede ne kadar zaman geçirdiğiniz ve ziyaret ettiğiniz sayfalar gibi verileri izleyebilir.</p>
    <p>Google Analytics çerezleri hakkında daha fazla bilgi için resmi Google Analytics sayfasına bakın.</p>
</li>

<li>
    <p>İlgi çekici içerik üretmeye devam edebilmemiz, bu sitenin kullanımını izlemek ve ölçmek için üçüncü taraf analizleri kullanılır. Bu çerezler, sitede veya ziyaret ettiğiniz sayfalarda ne kadar zaman harcadığınız gibi verileri izleyebilir ve bu da siteyi sizin için nasıl iyileştirebileceğimizi anlamamıza yardımcı olur.</p>
</li>

<li>
    <p>Zaman zaman yeni özellikleri test ediyor ve sitenin yayınlanma biçiminde küçük değişiklikler yapıyoruz. Hâlâ yeni özellikleri test ederken, bu çerezler, kullanıcılarımızın en çok hangi optimizasyonları beğendiğini anlamamızı sağlarken, sitede tutarlı bir deneyim yaşamanızı sağlamak için kullanılabilir.</p>
</li>

<li>
    <p>Ürünleri satarken, sitemizi ziyaret edenlerin kaçının gerçekte satın alma yaptığına ilişkin istatistikleri anlamamız önemlidir ve bunlar çerezlerin izleyeceği türden verilerdir. Mümkün olan en iyi fiyatı sağlamak için reklam ve ürün maliyetlerimizi izlememize olanak tanıyan iş tahminlerini doğru bir şekilde yapabilmemiz sizin adınıza da önemlidir.</p>
</li>

<li>
    <p>Reklam sunmak için kullandığımız Google AdSense hizmeti, web üzerinde daha alakalı reklamlar sunmak ve belirli bir reklamın size gösterilme sayısını sınırlamak için bir DoubleClick çerezi kullanır.</p>
    <p>Google AdSense hakkında daha fazla bilgi için resmi Google AdSense Gizlilik SSS bölümüne bakın.</p>
</li>

<li>
    <p>Bu siteyi çalıştırmanın maliyetlerini dengelemek ve daha fazla geliştirme yapılabilmesine finansman sağlamak için reklamlar kullanıyoruz. Bu site tarafından kullanılan davranışsal reklamcılık çerezleri, ilgi alanlarınızı anonim olarak izleyerek ve ilginizi çekebilecek benzer şeyler sunarak, mümkün olduğunda size en alakalı reklamları sunmamızı sağlamak için tasarlanmıştır.</p>
</li>

<li>
    <p>Bu sitede, sosyal ağınızla çeşitli şekillerde bağlantı kurmanıza olanak tanıyan sosyal medya butonları ve/veya eklentiler de kullanıyoruz. Bunların çalışması için, ilgili sosyal medya siteleri sitemiz aracılığıyla, kendi sitelerinde profilinizi geliştirmek veya ilgili gizlilik politikalarında belirtilen çeşitli amaçlarla sahip oldukları verilere katkıda bulunmak için kullanılabilecek çerezler yerleştirecektir.</p>
</li>

</ul>

<p><strong>Daha Fazla Bilgi</strong></p>

<p>Umarız bu doküman sizin için bazı şeyleri açıklığa kavuşturmuştur ve daha önce de belirtildiği gibi, ihtiyacınız olup olmadığından emin olmadığınız bir şey varsa, kullandığınız özelliklerden biriyle etkileşime girmesi durumunda çerezleri etkin bırakmak genellikle daha güvenlidir.</p>

<p>Daha fazla bilgi için bizimle iletişime geçebilirsiniz.</p>
