<h1>Gizlilik Politikası</h1>

<p>https://match-e.com adresinden erişilebilen Match·E'de ana önceliklerimizden biri ziyaretçilerimizin gizliliğidir. Bu Gizlilik Politikası belgesi, Match·E tarafından toplanan ve kaydedilen bilgi türlerini ve bunları nasıl kullandığımızı içerir.</p>

<p>Gizlilik Politikamız hakkında başka sorularınız varsa veya daha fazla bilgiye ihtiyacınız varsa, bizimle iletişime geçmekten çekinmeyin.</p>

<p>Bu Gizlilik Politikası yalnızca çevrimiçi etkinliklerimiz için geçerlidir ve Match·E'de paylaştıkları ve/veya topladıkları bilgilerle ilgili olarak web sitemizi ziyaret edenler için geçerlidir. Bu politika, çevrimdışı olarak veya bu web sitesi dışındaki kanallar aracılığıyla toplanan hiçbir bilgi için geçerli değildir.</p>

<h2>Şartların Kabulü</h2>

<p>Web sitemizi kullanarak Gizlilik Politikamızı ve şartlarını kabul etmiş olursunuz.</p>

<h2>Topladığımız Bilgiler</h2>

<p>Bir Hesap için kaydolduğunuzda, ad, şirket adı, adres, e-posta adresi ve telefon numarası gibi öğeler dahil olmak üzere iletişim bilgilerinizi isteyebiliriz.</p>

<h2>Bilgilerinizi Nasıl Kullanıyoruz?</h2>

<p>Topladığımız bilgileri aşağıdakiler de dahil olmak üzere çeşitli şekillerde kullanırız:</p>

<ul>
<li>Web sitemizi çalıştırmak ve bakımını yapmak</li>
<li>Web sitemizi iyileştirmek, kişiselleştirmek ve genişletmek</li>
<li>Web sitemizin nasıl kullanıldığını anlamak ve analiz etmek</li>
<li>Yeni ürünler, hizmetler, özellikler ve işlevler geliştirmek</li>
<li>Size web sitesiyle ilgili güncellemeleri ve diğer bilgileri sağlamak, pazarlama ve tanıtım amaçları için müşteri hizmetleri dahil olmak üzere doğrudan veya ortaklarımızdan biri aracılığıyla sizinle iletişim kurmak</li>
<li>Size e-posta göndermek</li>
</ul>

<h2>Günlük Dosyaları</h2>

<p>Match·E, günlük dosyalarını kullanmak için standart bir prosedür izler. Bu dosyalar, ziyaretçileri web sitelerini ziyaret ettiklerinde günlüğe kaydeder. Tüm barındırma şirketleri bunu yapar ve barındırma hizmetleri analitiğinin bir parçasıdır. Günlük dosyaları tarafından toplanan bilgiler arasında internet protokolü (IP) adresleri, tarayıcı türü, İnternet Servis Sağlayıcısı (ISP), tarih ve saat damgası, başvuru/çıkış sayfaları ve muhtemelen tıklama sayısı yer alır. Bunlar, kişisel olarak tanımlanabilir herhangi bir bilgiyle bağlantılı değildir. Bilgilerin amacı, eğilimleri analiz etmek, siteyi yönetmek, kullanıcıların web sitesindeki hareketlerini izlemek ve demografik bilgileri toplamaktır.</p>

<h2>Çerezler ve Web İşaretçileri</h2>

<p>Diğer web siteleri gibi Match·E de "çerezler" kullanır. Bu çerezler, ziyaretçilerin tercihleri ​​ve ziyaretçinin eriştiği veya ziyaret ettiği web sitesindeki sayfaları içeren bilgileri depolamak için kullanılır. Bilgiler, web sayfası içeriğimizi ziyaretçilerin tarayıcı türüne ve/veya diğer bilgilere göre özelleştirerek kullanıcıların deneyimini optimize etmek için kullanılır.</p>

<h2>Reklam Ortakları Gizlilik Politikaları</h2>

<p>Üçüncü taraf reklam sunucuları veya reklam ağları, ilgili reklamlarında kullanılan çerezler, JavaScript veya Web İşaretçileri gibi teknolojileri ve doğrudan kullanıcıların tarayıcısına gönderilen Match·E'de görünen bağlantıları kullanır. Bu gerçekleştiğinde otomatik olarak IP adresinizi alırlar. Bu teknolojiler, reklam kampanyalarının etkinliğini ölçmek ve/veya ziyaret ettiğiniz web sitelerinde gördüğünüz reklam içeriğini kişiselleştirmek için kullanılır.</p>

<p>Match·E'nin üçüncü taraf reklamcılar tarafından kullanılan bu çerezlere erişimi veya bunlar üzerinde kontrolü olmadığını unutmayın.</p>

<h2>Üçüncü Taraf Gizlilik Politikaları</h2>

<p>Match·E'nin Gizlilik Politikası, diğer reklamverenler veya web siteleri için geçerli değildir. Bu nedenle, daha ayrıntılı bilgi için bu üçüncü taraf reklam sunucularının ilgili Gizlilik Politikalarına başvurmanızı tavsiye ediyoruz.</p>
