<h1>Kullanım Şartları ve Koşulları</h1>

<p>https://match-e.com adresinde bulunan bu Web Sitesine erişerek, bu Web Sitesi Kullanım Şartları ve Koşullarına bağlı kalmayı ve yürürlükteki yerel yasalarla yapılan anlaşmadan sorumlu olduğunuzu kabul ediyorsunuz. Bu şartlardan herhangi birine katılmıyorsanız, bu siteye erişmeniz yasaktır. Bu Web Sitesinde yer alan materyaller telif hakkı ve ticari marka kanunu ile korunmaktadır.</p>

<h2>Kullanım Lisansı</h2>

<p>Kişisel, ticari olmayan geçici görüntüleme için web sitesindeki materyallerin bir kopyasını geçici olarak indirme izni verilir. Bu, bir mülkiyet devri değil, bir lisans verilmesidir ve bu lisans kapsamında şunları yapamazsınız:</p>

<ul>
    <li>materyalleri değiştirmek veya kopyalamak;</li>
    <li>materyalleri herhangi bir ticari amaç için veya herhangi bir kamuya açık teşhir için kullanmak;</li>
    <li>web sitesinde bulunan herhangi bir yazılımı tersine çevirmeye çalışmak;</li>
    <li>materyallerden herhangi bir telif hakkı veya diğer tescilli notları kaldırmak;</li>
    <li>materyalleri başka bir kişiye aktarmak veya başka bir sunucuya "yansıtmak".</li>
</ul>

<p>Bu, Match·E'nin bu kısıtlamalardan herhangi birinin ihlali durumunda hesabı feshetmesine izin verecektir. Fesih üzerine, görüntüleme hakkınız da feshedilecektir ve basılı veya elektronik formatta olsun, elinizdeki indirilmiş tüm materyalleri imha etmelisiniz.</p>

<h2>Yayın Şartları</h2>

<p>Bu platformda herhangi bir cinsel içerikli yayın yapılması yasaktır. Yayınlar sadece sosyal etkileşim, iletişim ve tanışma amacıyla kullanılmalıdır. Bu tür içerikli yayınların yapıldığı tespit edildiğinde, ilgili hesaplar derhal askıya alınacak ve gerektiğinde yasal yollara başvurulacaktır.</p>

<h2>Sorumluluk Reddi</h2>

<p>Match·E'nin Web Sitesindeki tüm materyaller "olduğu gibi" sağlanmaktadır. Match·E, hiçbir garanti vermez ve diğer tüm garantileri reddeder. Ayrıca Match·E, Web Sitesinde yer alan materyallerin kullanımının doğruluğu veya güvenilirliği veya bu tür materyaller veya bu Web Sitesine bağlı herhangi bir site ile ilgili herhangi bir beyanda bulunmaz.</p>

<h2>Sınırlamalar</h2>

<p>Match·E veya tedarikçileri, Match·E'nin Web Sitesinde yer alan materyallerin kullanılmasından veya kullanılamamasından doğacak zararlardan, bu tür bir hasarın olasılığı Match·E veya bu Web Sitesinin yetkili temsilcisine sözlü veya yazılı olarak bildirilmiş olsa dahi sorumlu tutulamaz.</p>

<h2>Düzeltmeler ve Hatalar</h2>

<p>Match·E'nin Web Sitesinde görünen materyaller teknik, tipografik veya fotoğrafik hatalar içerebilir. Match·E, bu Web Sitesindeki materyallerin hiçbirinin doğru, eksiksiz veya güncel olduğuna dair garanti vermeyecektir. Match·E, Web Sitesinde yer alan materyalleri istediği zaman haber vermeksizin değiştirebilir. Match·E, materyalleri güncelleme taahhüdünde bulunmaz.</p>

<h2>Bağlantılar</h2>

<p>Match·E, Web Sitesine bağlı sitelerin tümünü incelememiştir ve bu tür bağlantılı sitelerin içeriğinden sorumlu değildir. Herhangi bir bağlantının varlığı, sitenin Match·E tarafından onaylandığı anlamına gelmez. Bağlantı verilen herhangi bir web sitesinin kullanımının riski kullanıcının kendisine aittir.</p>

<h2>Site Kullanım Koşulları Değişiklikleri</h2>

<p>Match·E, Web Sitesi için bu Kullanım Koşullarını herhangi bir zamanda önceden haber vermeksizin revize edebilir. Bu Web Sitesini kullanarak, bu Kullanım Şartları ve Koşullarının güncel versiyonuna bağlı kalmayı kabul ediyorsunuz.</p>
