<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="privacy" class="nav-link px-2 text-body-secondary">{{ t.policies.privacy }}</a></li>
        <li class="nav-item"><a href="terms" class="nav-link px-2 text-body-secondary">{{ t.policies.terms }}</a></li>
        <li class="nav-item"><a href="cookie" class="nav-link px-2 text-body-secondary">{{ t.policies.cookie }}</a></li>
    </ul>
    <p class="text-center text-body-secondary">Match·E © <script>document.write(/\d{4}/.exec(Date())[0])</script></p>
</footer>
